{% extends 'core/base.html' %}
{% load static %}
{% block title %}sign up{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/signin.css' %}">
{% endblock %}

{% block body %}

<body class="text-center">
    <main class="form-signin">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}


        <form method="post">
            {% csrf_token %}
            <a href="{% url 'core:index' %}"><img class="mb-4" src="{% static 'core/prime.svg' %}" alt="" width="72"
                    height="57"></a>
            <h1 class="h3 mb-3 fw-normal">Customer Sign In</h1>

            <div class="form-floating">
                <input type="text" name="login_id"
                    class="form-control {% if form.login_id.errors %}is-invalid{% endif %}" id="id_login_id"
                    placeholder="coyotedevmail@gmail.com" required maxlength="50"
                    value="{% if form.login_id.value %}{{ form.login_id.value }}{% endif %}">
                <label for="id_password">Email address/Username</label>
                {% if form.login_id.errors %}<div class="invalid-feedback">{{ form.login_id.errors | safe}}</div>
                {% endif %}
            </div>
            <div class="form-floating">
                <input type="password" name="password"
                    class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="id_password"
                    placeholder="Password" required maxlength="128">
                <label for="id_password">Password</label>
                {% if form.password.errors %}<div class="invalid-feedback">{{ form.password.errors }}</div>{% endif %}
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
        </form>
    </main>



</body>
{% endblock %}