<h5>Send the sum of ₦{{ job.total_price }} to the provided account</h5>
<p class="text-danger">Please note that this not a secure payment method. It is advisable that
    you call <a href="tel:/+23408033221129">08033221129</a> before making the transfer.
</p>
<p>
    <b>Account No: 5273681014</b>
    <b>Bank: FCMB</b>
    <b>Account Name: Adeyi Gbenga Michael</b>
</p>
<p>
    <a class="btn btn-lg btn-success" href="tel:/+23408033221129">Call</a> now to verify payment
    <button class="btn btn-lg btn-success">Complete</button>
</p>