{% extends 'core/base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block head %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


<!-- Custom styles for this template -->
<link href="{% static 'core/css/cover.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0"><a href="{% url 'core:index' %}"><img class="mb-4"
                            src="{% static 'core/prime.svg' %}" alt="" width="72" height="57"></a></h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="{% url 'core:signup' %}">Sign Up</a>
                    <div class="dropdown mx-3">
                        <a class="nav-link dropdown-toggle" type="button" id="loginDropdownMenu"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sign In
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="loginDropdownMenu" style="text-shadow: none;">
                            <li>
                                <h6 class="dropdown-header">Sign in as</h6>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'customer:login' %}">Customer (Photographer)</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'editor:login' %}">Editor</a></li>
                        </ul>
                    </div>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>Prime Colour Labs</h1>
            <p class="lead">Commited to the service of preservation of beautiful human experience through photography
            </p>
            <p class="lead">
                <a href="{% url 'core:about' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn
                    more</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>All rights reserved <a href="" class="text-white">Prime Developers</a>
        </footer>
    </div>


    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
</body>
{% endblock %}